 body{ 
   background-image: url(image/image2.jpg);
    background-repeat:no-repeat;
     background-size:cover;
     opacity:0.6;
    
 }
.container{
  background:black;
}
 .hea{

  text-align: center;
  color:white;
 }
 main{
  
    padding-bottom:37%;
 }
.footer {

 background-image: url(image/image5.jpg);

   
  color: white;
  text-align: center;

}


.navaB{
 
  background-image: url(image/image5.jpg);
  
 
}
.centAl{

 padding-top: 15%;
  font-size: 18px;
  text-align: center;
  color: white;
}
#grad {
  background-image: radial-gradient(red, yellow, green);
}
#dataIn{
 
}
.log{
  padding-top: 5%;
  text-align: center;
}

.dataI{
  padding-top:5%;
}
a{
  color:white;
}
.nav-item{
  color:white;
}
th,td{
  color: white;
}
#id,#idi{
  color: white;


}

.tabi{
 font-size: 90%;
}

#menu{
  position: relative;
}

